.navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: $body-primary;
  border-bottom: 1px solid $grey;
  height: 63px;
  align-items: center;
  padding: 0 48px;
  z-index: 10000;

  &__header{
    margin-right: auto;
    color: $text-primary;
    font-weight: bold;
  }
}