*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;      
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: $grey; 
}
*::-webkit-scrollbar-thumb {
  background-color: $blue; 
  border-radius: 2px;
}